/* COMMON */
$slider-bg-color: #290000;
$body-bg-color: #660000;
$active-bg-color: #76c38f; /* Buttons, selected items etc */
$main-font: Georgia;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: $active-bg-color;
	transition: all .75s;
	&:hover {
		color: #fff;
	}
}
button, input[type="submit"] { outline: none; }
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: $body-bg-color;
	font-family: $main-font;
}

/* HEADER */
header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 5px solid $active-bg-color;
	max-height: 30%;
	.menu {
		max-width: 90%;
		margin: auto;
		padding: 50px 20px;
		text-align: center;
		.logo {
			display: inline-block;
			width: 185px;
			height: 35px;
			margin-right: 160px;
			background: url('../img/logo.png') no-repeat center;
			-webkit-background-size: cover;
			background-size: cover;
			vertical-align: middle;
		}
		ul {
			display: inline-block;
			padding: 0;
			margin: 0 auto;
			list-style: none;
			li {
				display: inline-block;
				margin-right: 8px;
				a {
					position: relative;
					padding: 10px 20px;
					color: #fff;
					text-transform: uppercase;
					&.active {
						border-radius: 10px;
						background: $active-bg-color;
					}
					&:not(.active) {
						&:before, &:after {
							position: absolute;
							display: block;
							content: '';
							width: 0;
							height: 3px;
							background: #fff;
							transition: all .4s ease-in-out;
						}
						&:before {
							top: 0;
							right: 0;
						}
						&:after {
							left: 0;
							bottom: 0;
						}
						&:hover, &:hover {
							color: $active-bg-color;
							&:before, &:after {	width: 80%; }
						}
					}
				}
			}
		}
	}
}

/* SLIDER */
.hide-slider-element {
	opacity: 0;
	transform: translateX(-500px);
}
.show-slider-element {
	opacity: 1;
	transform: translateX(500px);
}
.slider {
	display: block;
	padding-top: 150px;
	height: 100vh;
	background: $slider-bg-color;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
	.slider-box {
		position: relative;
		max-width: 80%;
		height: 400px;
		box-sizing: content-box;
		margin: auto;
		transition: all .3s ease-in-out;
		.slider--controlls {
			width: 15px;
			height: 30px;
			position: absolute;
			top: calc(50% - 15px);
			background: url('../img/less-more-icons.png') no-repeat left;
			-webkit-background-size: cover;
			background-size: cover;
			cursor: pointer;
			transition: all 1s ease;
			&:hover {
				transform: scale(1.2);
				filter: hue-rotate(200deg);
			}
		}
		.slider--controlls-prev { left: 0; }
		.slider--controlls-next {
			background-position: right;
			right: 0;
		}
		.slider--photo {
			vertical-align: middle;
			display: inline-block;
			width: 400px;
			height: 400px;
			background: #333;
			border: 25px solid #6b6b6b;
			border-radius: 50%;
			background: url('https://static1.squarespace.com/static/5446908be4b0e284a8fb3b30/5633efece4b0b8a4b6edae3e/58334cda6a4963cd4fbd4cdb/1479757140683/cover2web.jpg?format=750w') no-repeat top;
			-webkit-background-size: cover;
			background-size: cover;
			transition: .6s ease-out;
			&:hover {
				cursor: pointer;
				border-color: $active-bg-color;
			}
		}
		.slider-wrapper {
			vertical-align: middle;
			display: inline-block;
			max-width: 30%;
			margin-right: 150px;
			text-align: left;
			.slider--title, .slider--description, .readmore-button {
				display: inline-block;
				margin-bottom: 20px;
			}
			.slider--title {
				font-size: 46px;
			}
			.slider--description {
				font-size: 12px;
				color: #979797;
			}
			.readmore-button {
				padding: 10px 20px;
				margin-bottom: 0;
				border: none;
				border-radius: 10px;
				background: $active-bg-color;
				color: #fff;
				transition: all .3s ease-in-out;
				&:hover {
					cursor: pointer;
					background: #fff;
					color: $active-bg-color;
				}
			}
		}
	}
}

/* SERVICES BLOCK */
.services {
	max-width: 80%;
	margin: 60px auto 40px;
	color: #333;
	text-align: center;
	.service {
		margin: auto;
		margin-right: 20px;
		padding: 20px 30px;
		display: inline-block;
		width: 230px;
		max-height: 330px;
		background: #fff;
		transition: all .4s ease-in-out;
		&:hover {
			cursor: pointer;
			background: $active-bg-color;
			color: #fff;
			.service--img { background: #fff; }
			.service--description { color: #fff; }
		}
		.service--img {
			margin: auto;
			width: 120px;
			height: 120px;
			background: #333;
			vertical-align: middle;
			img {
				width: 120px;
				height: 120px;
				object-fit: cover;
			}
		}
		.service--title {
			margin-top: 10px;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-size: 32px;
		}
		.service--description {
			font-size: 12px;
			color: #979797;
		}
	}
}

/* LATEST WORK BLOCK */
.latest-work {
	margin: auto;
	max-width: 80%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;	
	h1 {
		position: relative;
		margin: auto;
		font-size: 32px;
		span {
			display: inline-block;
			padding: 10px;
			background: #303030;
			border-radius: 10px;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: calc(50% - 2.5px);
			width: 100%;
			height: 5px;
			background: #303030;
			z-index: -1;
		}
	}
	.work {
		position: relative;
		display: inline-block;
		margin-right: 30px;
		margin-top: 30px;
		width: 300px;
		height: 200px;
		border: 5px solid #fff;
		background: #353535;
		transition: all .4s ease;
		&:hover {
			border: 5px solid $active-bg-color;
			cursor: pointer;
			span { opacity: 0; }
			img { filter: saturate(2); }
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
		span {
			display: inline-block;
			padding: 5px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			background: #151515;
			font-size: 14px;
			transition: all 1s;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all .4s;
		}
	}
}

/* FOOTER */
footer {
	margin-top: 60px;
	background: #303030;
	color: #979797;
	.footer-box {
		max-width: 80%;
		margin: auto;
		padding: 40px 0 40px;
		text-align: center;
		font-size: 13px;
		line-height: 22px;
		.footer-col {
			display: inline-block;
			max-width: 20%;
			margin-right: 40px;
			vertical-align: top;
			text-align: left;
			&:last-child {
				margin-right: 0;
			}
			.footer-col--title {
				margin-bottom: 30px;
				color: #fff;
				font-size: 16px;
				text-transform: capitalize;
				font-weight: normal;
			}
			.post-title {
				margin-bottom: 15px;
			}
			.post-text { margin-bottom: 10px; }
			.author, .date { font-size: 10px; margin-bottom: 5px; }
			.author span { color: #666; }
			.read-more:after { content: ' \BB';	}

			.links-list {
				list-style: none;
				padding: 0;
				margin: 0;
				li {
					position: relative;
					padding: 10px;
					border-bottom: 1px solid #404040;
					&:before {
						position: absolute;
						left: 0;
						content: '\BB';
					}
				}
			}
			.contact-us-form {
				input:not([type="submit"]), textarea {
					padding: 10px;
					margin-bottom: 10px;
					width: 100%;
					border: none;
					border-radius: 10px;
					background: #222;
					color: #979797;
					font-family: $main-font;
					font-size: 13px;
					letter-spacing: normal;
					&:hover { border: 1px dashed #fff; padding: 9px; }
				}
				textarea { resize: none; }
				input[type="submit"] {
					padding: 10px;
					border: none;
					border-radius: 10px;
					background: $active-bg-color;
					color: #303030;
					font-size: 12px;
					text-transform: uppercase;
					font-weight: bold;
					transition: all .3s ease-in-out;
					&:hover {
						cursor: pointer;
						background: #fff;
						color: $active-bg-color;
					}
				}
			}
		}
	}
}

/* COPYRIGHT */
.copyright {
	padding: 25px 10%;
	border-top: 1px solid #000;
	box-shadow: inset 0 1px 0 0 #3a3a3a;
	background: #2b2b2b;
	color: #979797;
	font-size: 14px;
	.rights {
		float: left;
	}
	.authorship {
		float: right;
	}
	&:after { /* clearfix */
		content: '';
		display: block;
		clear: both;
	}
}